# Python basic

1. case sensitive
2. slower than other programming language
3. but there are soo many libraries
4. Its design philosophy emphasizes code readability with the use of significant indentation
5. It supports multiple programming paradigms, including structured, object-oriented and functional programming

6. Python is a high-level, general-purpose programming language( is a programming language designed to be used for building software in a wide variety of application domains, across a multitude of hardware configurations and operating systems ex.  functional programming, datascience,html, website,oops)

7.Python is an object-oriented, high-level programming language. Object-oriented means this language is based around objects (such as data) rather than functions, and high-level means it's easy for humans to understand
8.easy to learn --> simple easy english language
9. In python there are diff inbuilt function from this it is easy to make diff program in short period of time
10. interpreted language --> execute code one by one line

In [97]:
# write a program to print sum of two no

#a,b = 10,10
#a=b=20
a =15
b = 10
print(a+b)

40

In [98]:
# ROUND FUNCTION

round(25.8834534534 + 10, 2)

35.88

The separator between the arguments to print() function in Python is space by default (softspace feature) , which can be modified and can be made to any character, integer or string as per our choice. The ‘sep’ parameter is used to achieve the same, it is found only in python 3.x or later. It is also used for formatting the output strings


SEP DEFAULT VALUE IS " " --> SPACE
END DEFAULT VALUE IS "/n"  --> new line

In [101]:
print('Hello',1,4.5,True,sep='*')

Hello*1*4.5*True

In [ ]:
print()

In [65]:
print('i','m',26,'year' )

i m 26 year

In [ ]:
20/04/1996

In [110]:
print('09','12','2016', sep='/')

09/12/2016

By default Python‘s print() function ends with a newline. Python’s print() function comes with a parameter called ‘end‘. By default, the value of this parameter is ‘\n’, i.e. the new line character

In [104]:

# ends the output with a space
print("Welcome to", end = ' ')
print("my notes")

Welcome to my notes

In [ ]:
*
**
***
****

In [107]:
for i in range(1,5):
    for j in range(i):
        print('*'*j)

*

*
**

*
**
***

In [108]:
for i in range(1,5):
    print('*'*i)

*
**
***
****

# Rules for Naming an Identifier

1.Identifiers cannot be a keyword.
2.Identifiers are case-sensitive.
3.It can have a sequence of letters and digits. However, it must begin with a letter or _. The first   letter of an identifier cannot be a digit.
4. It's a convention to start an identifier with a letter rather _.
5.Whitespaces are not allowed.
6. We cannot use special symbols like !, @, #, $, and so on

# Reserved words in Python --> keywords

https://docs.python.org/2.5/ref/keywords.html

1.We should not use reserved words as variable names
2.Also python doesn't restrict the user to use reserved keywords as variable names

In [95]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
a, b, c, yes = 1, 50.2, "RATAN", True

In [11]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(yes,type(yes))

1 <class 'int'>
50.2 <class 'float'>
RATAN <class 'str'>
True <class 'bool'>

# CASE SENSITIVE

In [12]:
a = 10
A= 11
print(a,A)

10 11

In [44]:
# ANOTHER WAY TO WRITE PRINT STATEMENT

firstName, middleName, sirName = "ratan", "kumar", "jha"
print(f"gmail id is : {firstName}.{sirName}@gamil.com")

gmail id is : ratan.jha@gamil.com

# comment

#single line comment

"""
multiple line comment
"""

In [18]:


name, place, year_of_birth, weight,height = "ratan", "delhi", 1996, 85.88, 6
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
height is: {height} ft
""")

My name is: ratan
I live at: delhi
I was born in: 1996
My weight is: 85.88 in Kgs
height is: 6 ft

In [111]:
#  INPUT FUNCTION --> STR type

name = input("Enter your Name: ")
print(f"You have entered: {name}")

Enter your Name: ra
You have entered: ra

In [ ]:
ra

In [ ]:
# WRITE A PROGRAM , TAKE 2 STR AS INPUT  AND PRINT THE STRING

In [ ]:
# WRITE A PROGRAM , TAKE 2 NO. AS INPUT  AND PRINT THE SUM OF THAT NO

In [ ]:
WRITE A PROGRAM , TAKE A 5 DIGIT NUMBER AND PRINT THE SUM OF THAT 5 DIGIT

In [114]:
n= int(input("enter a 5 digit no"))
sum = 0
for i in str(n):
    sum = sum + int(i)
    #print(sum)
print(sum)

enter a 5 digit no12345
1
3
6
10
15
15

In [20]:
# SHOW ERROR BCZ ONE IS INT TYPE AND ANOTHER A STR TYPE
A = int (input("Enter value of A: "))
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")
print(type(A), type(B))

Enter value of A: 4
Enter value of B: 4

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# CALCULATE YOUR AGE

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))

age = 2022 - year_of_birth   # -->  'int' and 'str'

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

# DATA TYPE

1. int    --> max - 1*10^308 (1e308)
2. float   -- > max (1.7e308)
3. str     --> "ratan"
4. boolean --> True, Flase
5. complex   --> 1+2j
6. list []  -->[1,2,3,4]
7. dictionary  {}  -->{key value pair}
8. tuple ()    -->(1,2,3,"dfa")
9. set {} -- > no duplicate

 # Type conversion¶
We can convert the data type of one variable into another if it is allowed

In [115]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: ratan
Enter value of B: k
<class 'str'> <class 'str'>

In [27]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 4
Enter value of B: 3
<class 'int'> <class 'int'>

In [117]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")
print(type(A))

Enter value of A: 4
Enter value of B: 4
Sum of A and B is: 8.0
<class 'float'>

In [118]:
4+4.5

8.5

In [119]:
4 + 'madhukar'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
a =[454353452,'dfsa']
len(a)

2

In [121]:
b= 3,4,5,2,3,5,4,3
len(b)

8

In [29]:
# String to integer

A = "50"
print(f"data type before: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50

In [30]:
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type after: <class 'int'>, value of A: 50

In [31]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [32]:
# FLOAT TO INTEGER

num = 50.60
print(f"data type {type(num)}, value of {num}")
num1 = int(num)
print(f"data type {type(num1)}, value of {num1}")

data type <class 'float'>, value of 50.6
data type <class 'int'>, value of 50

In [33]:
# integer to flaot 

num = 50
print(f"data type {type(num)}, value of {num}")
num1 = float(num)
print(f"data type {type(num1)}, value of {num1}")

data type <class 'int'>, value of 50
data type <class 'float'>, value of 50.0

In [34]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

True in binary - 1
False in binary - 0

In [122]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [123]:
True+5

6

In [124]:
False +6

6

In [125]:
# integer to boolean
A = 1
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

str

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [38]:
A = "ratan"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: ratan
data type after: <class 'bool'>, value of A: True

In [129]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [132]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [133]:
# empty string to int
A = "fasdfasdfasdf"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

## Memory block

* use id

In [42]:
a= 2
id(a)

2096235112784

In [43]:
a = "r"
b = 1
c = "R"

print(id(a), id(b), id(c))

2096235618096 2096235112752 2096241265072

write a program display this series
*
**
***
****
*****

# variables
variable --> they are container for future use
like if are making a website.  and we print hello(name_of_user )
name ="ratan"
print(name)


1. static vs dynamic typing
2. static vs dynamic binding
3. stylish declaration technique

# static vs dynamic typing

In python we dont declare the data type of the variable. python interperator will automatically undertand the datatype of the varible

    STATIC TYPING
IN other language  we have to assign the datatype of the variable ex C -->  int a = 5
C interperater will not able to understand the data type automatically

#  static vs dynamic binding

a= 1    
print(a)
a="ratan"
print(a)

DYNAMIC BINDING

in python when we print this . This will give both output without any error.  In same variable "a"" it store both the data type value

STATIC BINDING

IN OTHER LANGUAGE LIKE C,C++,JAVA -->  if we intialize "a" as int  ( int a = 4).  then in the whole program we can,t change the datatype of this.

# stylish declaration technique 

a=1
b=2
c=3
print(a,b,c)


or

a,b,c=1,2,3
print(a,b,c)

or

a=b=c=5
print(a,b,c)

## CONDITIONAL STATMENT (IF ELSE)

```python
if condition:
    print("execute this statement")
else:
    print("if condition is not True")
```

In [76]:
# EX
# want to study or not

mood = False
if mood:
    print("want to study")
else:
    print("dont want to study")

dont want to study

In [78]:
raining = True

if  raining:
    print("it is raining")  
else:
    print("not raining")

it is raining

##  Logical opertors 

Keywords | Meaning
- | - 
not | 
and | conditional AND
or | conditional OR

In [94]:
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [136]:
end_to_end_project  = True

if not end_to_end_project:
    print("not interested")
else:
    print("very much interested")

not interested

### and	 - conditional AND

datascience | placement | job
- | - | -
False | False | False
False | True | False
True | False | False
True | True | True

In [139]:
data_science = True
placement = True

if data_science and placement:
    print("GET JOB  AND GET MONEY FUN TRAVELLING")
else:
    print("NOTHING GET and WORK HARD")

GET JOB  AND GET MONEY FUN TRAVELLING

### or conditional OR

if I have a car or bike then I can travel 100kms in a day

Car | Bike | Travel_100_kms
- | - | -
False | False | False
False | True | True
True | False | True
True | True | True

In [140]:
i_own_car = True
i_own_bike = False

if i_own_car or i_own_bike:
    print("I can travel 100 kms in a day!")
else:
    print("I am stuck as I don't have car or bike!")

I can travel 100 kms in a day!

## Conclusion - 
1. use and operator when you want all the condition to be true
2. use or operator if anyone of the condition you want to be true

In [141]:
starter = input("what u want in starter ")
main_course = input("what u want to eat in main_course ")

if starter == "chinese" and main_course == "indian":
    print("mai khana khaunga")
else:
    print("me khana nahi khaunga")

what u want in starter chinese
what u want to eat in main_course japanese
me khana nahi khaunga

In [ ]:
starter = input("what u want in starter ")
main_course = input("what u want to eat in main_course ")

if starter == "chainese" or main_course == "indian":
    print("mai khana khaunga")
else:
    print("me khana nahi khaunga")

In [ ]:
"""
write a program u r studing in intellipaat.  requirement for job gaurantee program is
attendence = 90
assignment = 70
time_of_assignment_submission  should be less then = 30 days
if all the codition is true then will come under the job gaurantee program
otherwise kuch nahi millenga.
"""

"""
same above program is any one of the condition is correct
"""

In [86]:
attendence = 100
assignment = 80
time_of_assignment_submission = 25

print(f"attendence criteria met? : {attendence >= 90}")
print(f"assignment criteria met? : {assignment >= 80}")
print(f"assignment criteria met? : {time_of_assignment_submission  <= 30}")

if attendence >= 90 and assignment >= 80 and time_of_assignment_submission <= 30:
    print("u will come under job guarantee program")
else:
    print("kuch nahi millenga")

attendence criteria met? : True
assignment criteria met? : True
assignment criteria met? : True
u will come under job guarantee program

In [87]:
own_credit_card = False
own_debit_card = False

if own_credit_card or own_debit_card:
    print("proceed further for payment")
else:
    print("Ask from a dad for debit or credit card?")
    print("cash on delivery?")

Ask from a dad for debit or credit card?
cash on delivery?

## and or together

attendance | assignment | sports_player | eligible_for_exam
- | - | - | -
>=75% | >=70% | False | True
>=75% | >=70% | True | True

In [90]:
attendance = 75
assignment_submitted = 80
sports_player = True

print(f"attendence criteria met? : {attendance >= 75}")
print(f"assignment criteria met? : {assignment_submitted >= 70}")
print(f"sports criteria met? : {sports_player}")

if attendance >= 75 and assignment_submitted >= 70:
    if sports_player:
        print("The student is eligible to appear in final exam and get 5% extra marks")
    else:
        print("The student is eligible to appear in final exam")
else:
    print("The student is not eligible")

attendence criteria met? : True
assignment criteria met? : True
sports criteria met? : False
The student is eligible to appear in final exam

# equality operator

Operator | uses | Meaning
- | - | -
is | A is B=> | return True if A and B points to the same object   
is not | A is not B | returns True if A and B do not points to the same object
== | A == B | A is equal to B
!= | A != B | A is not equal to B

When using `is` then we are also comparing memory location
When using `is not` then we are also comparing memory location

== and != is only checking value of the variables [Used more offently or frequently]

In [93]:
A = 1
B = 1

if A is B:
    print("A and B are same")
else:
    print("A and B are not same")

A and B are same

In [ ]:
A = 1
B = 2

if A is not B:
    print("A and B are not same")
else:
    print("A and B are same")

In [ ]:
A = 1
B = 1

if A == B: # A and B are having same value
    print("A and B are same")
else:
    print("A and B are not same")

In [ ]:
A = 1
B = 2

if A != B:
    print("A and B are not same")
else:
    print("A and B are same")

In [143]:
A = 1
B = int(input("Enter the value of B: "))

A is B

Enter the value of B: 2

False

In [ ]:
# write a program that user enter a password  and this input password match the password
# if not match then say the plz enter the password again

### Comparision

Operation | Meaning
- | -
< | A < B 
<= | A <= B
> | A > B 
>= | A >= B

In [ ]:
your_score = 40
passing_marks = 33.33

if your_score >= 33.33:
    print(f"Since you have scored: {your_score}, you have passed the exams!")
else:
    print("Dad: You should have taken things seriously!")